
        /* a:link {
            color: blue;
            text-decoration: none;
            font-family: fantasy;
        }
    a:visited{
        color: rgb(0, 0, 0);
        text-decoration: line-through;
    }
    a:active {
        color: red;
        font-family: serif;
    }
    a:hover {
        color: green;
        text-decoration: underline;
        
    }
     */
     table {
        width: 50%;
        border-collapse: collapse;
        margin: 20px auto;
        border-radius: 10px;
        overflow: hidden;
    }

    th, td {
        padding: 15px;
        text-align: center;
        font-family: Arial, sans-serif;
        font-size: 1.2em;
    }

    th {
        background-color: #00B3A4;
        color: black;
    }

    tr:nth-child(even) {
        background-color: #8B4513;
    }

    tr:nth-child(odd) {
        background-color: #00B3A4;
    }

    td {
        color: black;
    }