/* ზოგადი სტილები */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    gap: 20px;
}


.box {
    width: 200px;
    height: 200px;
    background-color: #3498db; 
    border-radius: 10px; 
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}


.box:hover {
    background-color: #2ecc71; 
    transform: scale(1.1); 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
