*{
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: rgb(2, 136, 20);
    }

  color: #21318d; 
  color: #6e0202; 
  color: #2590cd; 
  color: #3097d3;



 font-size: 25px;

 font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: rgb(127, 202, 152);
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: rgb(0, 0, 0);
        

}